{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 80,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte",
				"svelteSortOrder": "scripts-markup-styles-options",
				"svelteStrictMode": false,
				"svelteAllowShorthand": true
			}
		}
	]
}
